
  img{    
    width: 95%; 
  }

  .zoom {       
    transition: transform .5s;      
  }
  
  .zoom:hover {
    transform: scale(1.5); 
  }

  .boxed{    
    margin: auto;
    width: 80%;
    height: auto;
}